<h1 class="text-center title"><%= @user.name %></h1>
<br />
<div class="center-block" id="scorecard">
  <header id="header">
    <h2 class="text-center title">Your Scorecard:</h2>
  </header>
  <section id="body">
    <ul id="scores">
      <li>
        <div class="view">
          Wins: <span class="pull-right"><%= games_won? %></span>
        </div>
      </li>
      <li>
        <div class="view">
          Losses: <span class="pull-right"><%= games_lost? %></span>
        </div>
      </li>
      <li>
        <div class="view">
          Draws: <span class="pull-right"><%= games_draw? %></span>
        </div>
      </li>
    </ul>
  </section>
</div>
<br />
<hr />

<h2 class="text-center title">Active Games:</h2>
<br /> 
<% games_unfinished?.each do |game| %>
  <div class="separate col-xs-12 col-sm-3">
    <table class="small-board">
      <tr><td></td><td></td><td></td></tr>
      <tr><td></td><td><b><%= link_to game.name, game_path(game.id) %></b></td><td></td></tr>
      <tr><td></td><td></td><td></td></tr>
    </table>
  </div> 
<% end %>


