<h1 class="text-center title"><%= @user.name %></h1>
<br />
<div class="center-block" id="scorecard">
  <header id="header">
    <h2 class="text-center title">Your Scorecard:</h2>
  </header>
  <section id="body">
    <ul id="scores">
      <li>
        <div class="view">
          Wins: <span class="pull-right"><%= games_won? %></span>
        </div>
      </li>
      <li>
        <div class="view">
          Losses: <span class="pull-right"><%= games_lost? %></span>
        </div>
      </li>
      <li>
        <div class="view">
          Draws: <span class="pull-right"><%= games_draw? %></span>
        </div>
      </li>
    </ul>
  </section>
</div>
<br />
<hr />

<h2 class="text-center title">Active Games:</h2>
<br />
  <!-- <ul>
  <% games_unfinished?.each do |game| %>
    <li class="active"><%= link_to game.name, game_path(game.id) %></li>
  <% end %>
  </ul> -->
  <!-- <table>
    <% games_unfinished?.each do |game| %>
      <tr>
         <td class="active"><%= link_to game.name, game_path(game.id) %></td>
      
    <% end %>
  </table>  
 -->

<% games_unfinished?.each do |game| %>
  <div class="col-xs-12 col-sm-2">
    <table>
      <tr><td></td><td></td><td></td></tr>
      <tr><td></td><td><%= link_to game.name, game_path(game.id) %></td><td></td></tr>
      <tr><td></td><td></td><td></td></tr>
    </table>
    <div></div>
  </div> 

<% end %>


