<h1 class="text-center"><%= @piece.game.name %></h1>
<br/>
<table class="board">
  <% 8.times do |row| %>
    <%= '<tr>'.html_safe %>
    <% 8.times do |col| %>
      <%= '<td>'.html_safe + content_tag(:span, selected_piece_present?(@game_pieces, row, col), class: ["piece", ("selected" if selected?(@piece, @game_pieces, row, col))]) + '</td>'.html_safe %>
    <% end %> 
  <% end %>
</table>
<br>
<% if @piece.type == "King" %>
	<div class = "row">
		<div class = "col-xs-10 col-xs-offset-1 text-center">
			<%= link_to 'Castle Kingside', piece_castle_kingside_path(@piece), :class => 'btn btn-info' %>
			<%= link_to 'Castle Queenside', piece_castle_queenside_path(@piece), :class => 'btn btn-info' %>
		</div>
	</div>
<% end %> 
<br>