<div class="booyah-box col-xs-10 col-xs-offset-1">
  <%= link_to "Back", games_path, class: "btn btn-primary" %>
  <h1 class="text-center">Search Results for <%= params[:email] %></h1>
  <% if @results.present? %>
    <% @results.each do |result| %>
      <div class="flex-container-games">
        <div class="flex-child text-center" id="turn">Turn <br />
          <span class="turn-no"> - </span>
        </div>
        <div class="flex-child"> 
          <span class="game-name"><strong><%= result.name %></strong></span> <br />
          <span>Waiting for Second Player</span> | <span><em>Started on <%= result.created_at.strftime("%A, %B %e, %Y") %></em></span>
        </div>
        <div class="flex-child" id="join">
          <%= simple_form_for result, :method => :put do |f| %>
            <%= f.input :black_player_id, :as => :hidden, :input_html => { :value => current_user.id } %>
            <%= f.submit 'Join Game', :class => 'btn btn-success center-block' %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <br />
    <h2 class="text-center">Sorry, no results!</h2>
  <% end %>
</div>